POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changeme
POSTGRES_DB=TABACO&RON

JWT_SECRET_KEY=change-me-with-a-long-random-string
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=60

UPLOAD_DIR=app/static/uploads
PUBLIC_BASE_URL=http://localhost:8000
